body {
  /* Body */
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.02em;
}
img {
  display: block;
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

li {
  list-style-type: none;
}
.header {
  background-color: #fff;
  border-bottom: 1px solid #e7e9fc;
}

.header-logo {
  color: #4d5ae5;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  margin-right: 76px;
}
.header-logo span {
  color: #2e2f42;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.nav-adress {
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 24px;
  padding-bottom: 24px;
  gap: 40px;
}
.header-item {
  margin-right: 40px;
}
.header-item:last-child {
  margin-right: 0px;
}
.header-list {
  display: flex;
  align-items: center;
}
.nav-adress-list {
  display: flex;
  margin-right: 40px;
  gap: 40px;
}
.header-item-link {
  color: #2e2f42;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 40px;
}
.header-item-link:hover,
.header-item-link:focus {
  color: #404bbf;
}
.nav-adress-link:last-child {
  margin-right: 0px;
}
.nav-adress-link {
  color: #434455;
  gap: 40px;
}
.nav-adress-link:hover,
.nav-adress-link:focus {
  color: #404bbf;
}
.nav-adress {
  font-style: normal;
}
/* section hero */
.hero {
  padding-top: 188px;
  padding-bottom: 188px;
}
.hero-container {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}
.hero-title {
  background-color: #2e2f42;
  color: #ffffff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 188 0 188;
  margin: auto;
}
.hero button {
  color: #ffffff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  cursor: pointer;
  display: block;
  min-width: 169px;
  border: none;
  height: 56px;
  border-radius: 4px;
  margin: auto;
}
.hero button:hover,
.hero button:focus {
  background-color: #404bbf;
}
/* section about */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.about {
  padding-top: 120px;
  padding-bottom: 120px;
}
.about-list {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  display: flex;
  gap: 24px;
}
.subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
}
.about-list-item {
  width: calc((100% - 72px) / 4);
}

.team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  line-height: 40px; /* 111.111% */
  text-transform: capitalize;
}
.item-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.02em;
}
.subtitle-text {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
}
/* section team */

.team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-title {
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
  margin: auto;
}
.team-list-item {
  text-align: center;
  padding-top: 32px;
}
.team-list-item {
  background: #fff;
  border-radius: 0px 0px 4px 4px;
}
.item-title {
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.team-item-text {
  letter-spacing: 0.02em;
  text-align: center;
}
.team-wrap {
  padding-top: 32px;
  padding-bottom: 32px;
}
/* Section project */

.projects {
  padding-top: 120px;
  padding-bottom: 120px;
}
.projects-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  text-transform: capitalize;
  margin-bottom: 72px;
}
.projects-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.projects-wrap {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  margin-bottom: 8px;
  border-top: none;
}
/* footer */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-logo {
  color: #4d5ae5;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo span {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
}
